.td-tables {
   padding : 0;
   margin : 0;
   border-width : 0;
   background-image: url("../img/decor/grass.png");
      
}  
.avatar {
    max-width:200px;
    height:200px;

}

.image-size {
    min-height: 30px;
    min-width: 30px;
}
.background {
    background-color: #E7D29D; 
}

.test {
    background-color: grey;
}

.menu-size {
    height: 230px;
}
