.td-tables {
   padding : 0;
   margin : 0;
   border-width : 0;
   background-image: url("../img/decor/grass.png"); 
}  
.avatar {
    min-width:200px;
    height:200px;
}
.image-size {
    min-height: 30px;
    min-width: 30px;
}
.background {
    background-color: #E7D29D; 
}
.menu-size {
    height: 300px;
}
.button {
    background-color: #412C17;
}
.button:hover{
    background-color: #AF753B;
}
.top-bar {
   background-color:  #412C17;
}
a {
    color: white;
}
.version a{
  color: blue;
}
a:hover {
    color: #AF753B;
}
.top-bar ul {
   background-color:  #412C17;
   color : #E7D29D;
}