.td-tables {
   padding : 0;
   margin : 0;
   border-width : 0;
   background-image: url("../img/decor/grass.png");
      
}  

.image-size {
    min-height: 30px;
    min-width: 30px;
}
.background {
    background-color: beige; 
}

.test {
    background-color: grey;
}